<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Complete</title>
    <link rel="stylesheet" href="{{url_for('static', filename='survey_styles.css')}}">
</head>
<body>
    <div id="container">
        <div id="head">
            <h1>
                Survey Complete
            </h1>
            <p>
                Thank you so much for participating in our survey. It is greatly appreciated.
            </p>
            <p>
                If you would like to contribute again, with a new set of sentences, please click the button below. Otherwise, feel free to close this tab.
            </p>
            <input type="button" onclick="window.location.href='https://spoiler.bogpeople.com/survey'" value="Contribute Again">
        </div>
    </div>
</body>
</html>