.main {
	width: 45%;
	margin:auto;
}

.disable {
	width:65px;
	height: 25px;
	background-color: salmon;
	font-weight: bold;
	position: absolute;
	border:solid;
	border-radius: 5px;
}

.disable:hover {
	background-color: lightsalmon;
}