.main {
    width:350px;
}

.text {
    width: 300px;
    margin: auto;
    display: block;
}

img{
    display: block;
    margin-left:auto;
    margin-right: auto;
    width: 300px;
}
.main input{
    width:75%;
    padding:10px 10px 10px 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
}